@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center hero-page">
    <h1 class="display-4 my-4">Welcome to WebLibrary</h1>
    <img src="~/images/Library.jpg" class="img-fluid" />
</div>
